.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.bounding-box__concept {
    background: #149df2;
    color: #fff;
    white-space: nowrap;
    font-size: 0.75rem;
    line-height: 0.75rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: baseline;
    align-items: baseline;
    font-weight: 700;
    padding: 1px 3px;
    border-radius: 2px 2px 0 0;
}

span {
    font-family: 'Consolas';
}